# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# VS Code / JetBrains
.vscode/
.idea/

# Google Colab
/content/
*.ipynb~

# Data
data/images/
data/images_new/
data/image/
data/raw/
data/processed/
data/interim/
datasets/

# CSVs
*.csv
!data/ISIC_2020_Training_GroundTruth.csv

# Archives
*.zip
*.tar
*.tar.gz
*.7z

# Model artifacts
*.pt
*.pth
*.ckpt
*.h5
*.hdf5
*.keras
!notebooks/CNN/melanoma_cnn_arch1_150epochs_64batch.keras
!notebooks/CNN/melanoma_cnn_arch1_35epochs.keras
!notebooks/CNN/melanoma_cnn_arch2_35epochs.keras
!notebooks/CNN/melanoma_cnn_arch2_45epochs.keras
!notebooks/CGAN/Exported_Models/cgan_combined.keras
!notebooks/CGAN/Exported_Models/cgan_discriminator.keras
!notebooks/CGAN/Exported_Models/cgan_generator.keras
*.onnx
models/
checkpoints/

# Outputs
outputs/
results/
reports/
figures/
plots/
runs/
tensorboard_logs/

# Cache / temp
.cache/
tmp/
temp/

# Environment files
.env